.recipe_image {
    max-width: 800px;
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
}

table {
    max-width: 90%;
    margin: auto;
}
td, tr {
    text-align: center;
}


th:first-child {
    border-top-left-radius: 10px;
}

th:last-child {
    border-top-right-radius: 10px;
}

