body, html {
    height: 100%;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
    height: 90%;
}

.web-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.form_container {
    width: 100%;
    max-width: 768px;
}
form {
    padding: 30px;
    border-radius: 10px;
    box-shadow: 1px 4px 20px rgba(0, 0, 0, 0.8);
}

input {
    border-radius: 5px;
}

button[type="submit"] {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #4c4f52;
}

a:hover {
    text-decoration: underline;
    color: black;
}
